{{ define "main" }}
    <div class="main-path">
        <span><a class="path-link" href="{{ .Site.BaseURL }}">{{if .Site.Params.displayedSiteName }}{{ .Site.Params.displayedSiteName }}{{ else }}blog{{ end }}</a></span><span class="folder">content</span><span class="folder">Home.md</span>
    </div>
    <div class="main-content-toggle">

        <input class="source-preview-split" type="checkbox" id="source-preview-split-toggle">
        <label class="source-preview-split-label" for="source-preview-split-toggle"></label>

        <input class="source-toggle" type="checkbox" id="source-toggle">
        <label class="source-toggle-label" for="source-toggle"></label>

        <div class="main-content">
            ---<br />
            <span class="md-frontmatter">title</span>: <span class="md-frontmatter-string">Home.md</span><br />
            <span class="md-frontmatter">date</span>: 2020-11-16 00:00:00+02:00<br />
            <span class="md-frontmatter">draft</span>: <span class="md-frontmatter">false</span><br />
            ----
            
            {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
            {{ range $paginator.Pages }}     
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>        
                <p>{{ .Summary }}</p>
            {{ end }}

        </div>
        <div class="main-content-preview">

            {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
            {{ range $paginator.Pages }}
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a>&nbsp;<span class="h2-postdate">- {{ .Date.Format "January 2, 2006" }}</span></h2>
                <p>{{ .Summary }}</p>                        
            {{ end }}

            <div class="internal-pagination">
                {{ template "_internal/pagination.html" . }}
            </div>    
        </div>
    </div>
{{ end }}