{{ define "main" }}
    <div class="main-path">
        <span><a class="path-link" href="{{ .Site.BaseURL }}">{{if .Site.Params.displayedSiteName }}{{ .Site.Params.displayedSiteName }}{{ else }}blog{{ end }}</a></span><span class="folder">content</span><span class="folder">{{ .Type }}{{if eq .Type "page"}}s{{end}}</span><span class="folder">{{ .Title }}.md</span>
        {{ if .Date }}
                {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                {{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}
                <span class="postdate-container">&nbsp;(<time class="postdate" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>)</span>
            {{ end }}
    </div>
    
    <div class="main-content-toggle">

        
        <input class="source-preview-split" type="checkbox" id="source-preview-split-toggle">
        <label class="source-preview-split-label" for="source-preview-split-toggle"></label>

        <input class="source-toggle" type="checkbox" id="source-toggle">
        <label class="source-toggle-label" for="source-toggle"></label>

        <div class="main-content">
            ---<br />
            <span class="md-frontmatter">title</span>: <span class="md-frontmatter-string">{{ .Title }}</span><br />
            <span class="md-frontmatter">date</span>: {{ .Date }}<br />
            <span class="md-frontmatter">draft</span>: <span class="md-frontmatter">{{ .Draft }}</span><br />
            <span class="md-frontmatter">author</span>: <span class="md-frontmatter-string">{{ .Params.author }}</span><br />
            ----
            {{ .Content }}
        </div>

        
        <div class="main-content-preview">
            <h1>{{ .Title }}</h1>
            
            {{ .Content }}

            <p>- Written by {{ .Params.author }}  
            {{ if .Date }}
                {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                {{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}
                on {{ .PublishDate.Format $dateFormat }}{{ end }}</p>

            {{ if not .Params.disableComments }}
                <div class="disqus-section">
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{ end }}
        </div>

    </div>
    
{{ end }}