{{ $title := print .Title }}
{{ if .IsHome }}
    {{ $title = .Site.Title }}
{{ end }}

{{ $summary := "A blog about life, universe and everything." }}
{{ if .Summary }}
    {{ $summary = .Summary }}
{{ else if .Site.Params.Description }}
    {{ $summary = .Site.Params.Description }}
{{ end }}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
{{if .Site.Params.twitterHandle }}
    <meta name='twitter:card'        content='summary' />
    <meta name='twitter:site'        content='{{ .Site.Params.twitterHandle }}'/>
    <meta name='twitter:creator'     content='{{ .Site.Params.twitterHandle }}'/>
    <meta name='twitter:title'       content='{{ $title }}' />
    <meta name='twitter:description' content='{{ $summary }}' />
    {{if .Site.Params.twitterDomain }}
    <meta name='twitter:domain'      content='{{ .Site.Params.twitterDomain }}'/>
    {{ end }}
{{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ $summary }}"/>
    {{ template "_internal/google_analytics.html" . }}
</head>